body{
    width: 99.8vw;
    height: 100vh;
    margin: 0;
    padding: 0;

}


.navbar{
    height: 5rem;
    width: 100%;
    
   
    position: sticky;
    top: 0;
    z-index: 0;

   
  
    

}


.precise_location_hidebox{
  box-shadow: black;
   background-color: #ffffff;
   border-radius: 1rem;
   padding: 1rem;
   text-align: center;
   margin: -3.9rem 1rem 0 15rem ;
   width: 380px;
   position: fixed;
   z-index: 1;  
}
.setup{
    margin-top: 9px;
}

.input{
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-size: 1.2rem;
    border: none;
    
}
input:focus{
    outline: none;
    
}
.setup_location{
    position: relative;
  
}
.GPS{
    font-size: 1.5rem;
    color: rgb(222, 88, 40);
    text-decoration: none;
    margin-left: -6rem;
}
.none{
    display: none;
}


.search{
    background-color: rgba(0, 0, 0, 0.17);
    width: 500px;
    padding: .6rem .8rem;
    border-radius: 15px;
    margin-right: 14rem; 
    border: none; 
    font-size: 1.4rem; 
}
.icon{
    margin-right: 9rem; 
    position: absolute;
    right: 12rem;
    font-size: 1rem;
    margin-top: 13px;

    
}
.usericon{
    position: absolute;
    right: 14rem;
    font-size: 2rem;

}
.arrowicon{ 
    font-size: 1.3rem;
}
.search_hide_box{
    
    background-color: #ffffff;
    width: 520px;
    padding: .6rem ;
    border-radius: 15px;
    margin-right: 9rem; 
    font-size: 1.4rem;
    position: fixed;
    right: 180px;
    z-index: 1; 
    display: flex; 
     gap: 1rem;
     margin-top: -4.16rem;

}
.insideSearch{
   
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-size: 1.2rem;
 

}
.input:hover{
    outline: none;

}
.searchnone{
    display: none;
}

/* second nav */
.secondnavflex{
    width: 100%;
    margin-top: 2rem;
    border-radius: 2rem;
    font-weight: 800;
    display: flex;
    gap: 5rem;
    background:linear-gradient(to top,rgb(178, 158, 237),#ffffff);
    
    
  
}
.contentsecNac{

    font-size: 3rem;
    font-weight:bold;
    margin-left: 8rem;
    margin-top: 4rem;
    margin-bottom: 0;
  
    width: 500px;
}
h2{
    font-size: 3rem;
    font-weight:bold;
    margin-left: 10rem;
    margin: 0;

}
.secondnavimg{
    margin-right: 6rem;
}
.imgFlex{
    display: flex;
    gap: 3px;
}
.scanicon{
    width: 10px;
    height: 10px;
    color: blue;
    font-size: 1.5rem;
    margin-right: 55rem;
    position: absolute;
    right: -590px;
    top: 6rem;
    
    border-radius: 50%; 
      
}

.scanNone{
    display: none;
}
.imgicon{
    margin-top: 42px;
    transition: 0.4s;
}
.doticon{
    margin-top: 84px;
    transition: 0.4s;
}

/* whit is in your mind */

.biryani-pic{
    width: 9rem;
    background-color: #ffffff;
}
.rowscroller{
    flex-direction: row;
    
}

.arrowbtn{
    margin-top: -2rem;
    margin-left: 75rem;
    width: 25px;
    font-size: 55rem;
    height: 25px;

}

.arrowbtnTWO{
    margin-top: -2rem;
    margin-right: 13.6rem;
    width: 25px;
    font-size: 55rem;
    height: 25px;

}
.carouselExampleRide{
    z-index: -1;
}
.fleximg{
    width: 350px;
    border-radius: 20px;
}

